body {
    letter-spacing: 2px;
    line-height: 24px;
    font-family: 'Anton', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 80%;
}
nav {
    background-color: slategray;
    position: fixed;
}
nav .brand-logo {
    padding-left: 0;

}
.right{
    display: none;
}
.rigt-show {
    display: inline-block;
}
.logo {
    width: 30px;
    height: 30px;
}
.first{
    width: 40px;
    height: 40px;
    border: none;
    font-size: 25px;
    color: white;
    margin-top: auto;
    background-color: slategray;
    display: grid;
}
.burger {
    width: 35px;
    height: 7px;
    background-color: white;
    margin: 6px auto;
    max-width: 100%;
}

.home {
    height: 100vh;
    margin: 0 auto;
    background: url("/img/tlo3.jpeg");
    animation-name: background_picture;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    background-size: cover;
    background-position: center;
}
@keyframes background_picture {
    0% {
        background: url("/img/tlo3.jpeg");
    }
    33% {
        background: url("/img/tlo1.jpeg");
    }
    66% {
        background: url("/img/tlo2.jpeg");
    }
}
.home-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 48%;
    padding: 10%;
}
a,
h1,
h3 {
    font-weight: bold;
    color: white;
   
}
h2 {
    margin: auto;
    padding: 2rem;
}
p {
    color: black;
}
.waves-effect {
    position: unset;
}
.work {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 1rem 0;
}
.work-img {
    flex-shrink: none;
    width: 350px;
    height: 350px;
    background: url("/img/tlo1.png");
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    margin: 5%;
    padding: 20%;
}
tabel {
    border-collapse: inherit;
    }
.produkt-size {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;

}
td {
    text-align: center;
}
.row {
    display: flex;
    flex-direction: column;
}
/* .row .col {
    padding: 0px 5.75rem;
} */
.col {
    display: flex;
    flex-flow: column;
    
}
.rwd{

}
.fas {
    color: whitesmoke;
}
.map-background {
    background-color: slategray;
    padding: 2rem;
    text-align: center;

}
.offer-background {
    background-color: slategray;
    padding: 2rem;
    text-align: center;

}
.map {
    padding: 2rem;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.position {
    border-radius: 25%;
    width: 250px;
    height: 190px;
}
h4 {
    font-size: 1rem;
}
.mail {
    color: black;
}
.footer {
    padding: 0.5rem;
    background-color: slategray;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.foot {
    display: inline-flex;
}
@media screen and (min-width: 768px) {
    nav .brand-logo {
        display: contents;
    }
    .right{
        display: block;
    }
    .first {
        display: none;
    }
    .work {
        flex-direction: unset;
    }
    .produkt-size {
        width: 150px;
        height: 150px;
    }
        .row {
            display: flex;
            flex-direction: row
            
        }
        .rwd {
            display: inline-flex;
            justify-content: center;
        }
        .contact {
            flex-direction: row;
        }
        .position {
            width: 400px;
            height: 300px;
        }
}